.accordion > div > span {
	background-color: #eee;
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 15px;
}

.accordion > div > span:after {
	content: "\002b";
	float: right;
}

.accordion > div.show > span:after {
	content: "\2212";
}

.accordion > div > span:hover,
.accordion > div.show > span {
	background-color: #ccc;
}

.accordion > div > div {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	/*display: none;*/
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s;
	padding: 0 15px;
}

.accordion > div.show > div {
	/*display: block;*/
	padding: 15px;
}